.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.question-element {
  cursor: pointer;
  font-weight: bold;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
  background: #1E3A8A;
  color: white;
  border: 1px solid;
  font-size: 2rem;
}

.question-element:hover {
  background-color: #07235c;
}

.question-element.is-answered {
  opacity: 0.4;
  cursor:initial;
}

.question-element.is-answered.correct {
  /* background-color: rgb(106, 221, 106); */
}
.question-element.is-answered.uncorrect {
  /* background-color: rgb(204, 59, 59); */
}

.question-element.is-answered:hover {
  background-color: #1E3A8A;
}